@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-custom-red: 0, 97%, 63%;
    --color-custom-dark-blue: 223, 30%, 9%;
    --color-custom-greyish-blue: 223, 23%, 46%;
    --color-semi-dark-blue: 223, 36%, 14%;
  }

  * {
    @apply box-border p-0 m-0;
  }
}
